.home {
  .container {
    display: flex;
  }
  
  .intro {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: ivory;
    // flex-basis: 35%;
  }
  
  .bio {
    font-size: 1.5em;
  }
  
  .hobbies {
    font-size: 0.9em;
    margin-top: 40px;
  }
  
  img {
    flex-basis: 65%;
    max-width: 100%;
    max-height: 100%;
    width: 1000px;
  }
}
