.home {
  height: 100%;
  overflow: hidden;

  .container {
    display: flex;
    height: calc(100% - 50px);
  }
  
  .intro {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bio {
    font-size: 1.5em;
  }
  
  .hobbies {
    font-size: 0.9em;
    margin-top: 40px;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  footer {
    height: 50px;
    background-color: #222;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
