html, body {
  height: 100%;
}

.App {
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 20px;
    color: wheat;
  }
}

main {
  height: calc(100% - 125px);
}

.container {
  height: 100%;
}

footer {
  height: 50px;
  background-color: #222;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}