html, body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
}

header {
  background-color: #222;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;

  a {
    padding: 20px;
    color: lightgrey;
  }
}

main {
  height: calc(100% - 75px);
  background-color: dimgray;
  color: white;
  overflow: scroll;
}